---
layout: default
title: Лучшее для детей и родителей в сети!
---

<div class="container">

  {% for post in site.posts %}
  <div class="post-card">
    <a href="{{ post.url }}">

      {% if post.image %}
      <img src="{{ post.image }}" alt="{{ post.title }}">
      {% else %}
      {% endif %}

      <div class="card__body">

        {% if post.cite %}
        <strong class="card__category">{{ post.cite }}</strong>
        {% else %}
        {% endif %}

        <h3 class="card__title">{{ post.title }}</h3>
        <div class="card__date"><i class="far fa-clock"></i>{% include date.html date=post.date %}</div>
        
        {% if post.description %}
        <div class="card__text">
          <p>{{ post.description }}</p>
        </div>
        {% else %}
        {% endif %}
        
      </div>
    </a>
  </div>
  {% endfor %}

  {% include jumbotron.html %}

</div><!-- /.container -->