@media screen and (min-width: 700px) {

  .navbar__ul-top {
    display: block;
  }

  .menu-toggle {
    display: none;
  }

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .post-card {
    width: 48%;
  }

  .post {
    padding: 20px;
  }

  .post__title {
    padding-right: 20px;
    padding-left: 20px;
  }

  .post__number {
    margin-bottom: 0;
  }

  .container-footer {

    .footer__brand {
      width: 40%;
    }

    .footer__nav {
      width: 20%;
    }

    .footer__contact {
      width: 30%;
    }

  }
}

@media screen and (min-width: 960px) {
  
}

@media screen and (min-width: 1000px) {

  .post-card {
    width: 32%;
  }

  .post-card:first-child {
    width: 62%;
  }

  .post-card:nth-child(2) {
    width: 36%;
  }

  .post-card:nth-child(3) {
    width: 36%;
  }

  .post-card:nth-child(4) {
    width: 62%;
  }

  .post-card:nth-child(5) {
    width: 48%;
  }

  .post-card:nth-child(6) {
    width: 48%;
  }

  .post-card:nth-child(10) {
    width: 48%;
  }

  .post-card:nth-child(11) {
    width: 48%;
  }

  .container--categories {

    .post-card {
      width: 32%;
    }
  }

  .container--related-post {

    .post-card {
      width: 32%;
    }
  }

}