@media (min-width: 800px) {

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  // .container {

  //   .post-card:nth-child(3) {
  //     width: 100%;
  //   }
  // }

  .post-card {
    width: 48%;
  }

  .footer {

    .col {
      width: 45%;
    }
  }

  .post {
    padding: 20px;
  }

  .post__title {
    padding-right: 20px;
    padding-left: 20px;
  }

  .post__number {
    margin-bottom: 0;
  }
}

@media (min-width: 960px) {
  
}

@media (min-width: 1140px) {
  
}