@media (min-width: 800px) {

  .container {
    padding-left: 30px;
    padding-right: 30px;
  }

  .post-card {
    width: 48%;
  }

  .post {
    padding: 20px;
  }

  .post__title {
    padding-right: 20px;
    padding-left: 20px;
  }

  .post__number {
    margin-bottom: 0;
  }

  .container-footer {

    .footer__brand {
      width: 48%;
    }

    .footer__contact {
      width: 48%;
    }
  }
}

@media (min-width: 960px) {
  
}

@media (min-width: 1140px) {

}