---
layout: default
---

{% if page.image %}
<div class="post__hero-img">
  <img src="{{ page.image }}" alt="{{ page.title }}">
</div>
{% else %}
{% endif %}

<div class="post__title">
  <h1>{{ page.title }}</h1>
</div>

{{ content }}

<div class="container">

  {% for post in site.posts limit:2 offset:1 %}
  <div class="post-card">
    <a href="{{ post.url }}">

      {% if post.image %}
      <img src="{{ post.image }}" alt="{{ post.title }}">
      {% else %}
      {% endif %}

      <div class="card__body">

        {% if post.type %}
        <strong class="card__type">{{ post.type }}</strong>
        {% else %}
        {% endif %}

        <h3 class="card__title">{{ post.title }}</h3>
        <div class="card__date"><i class="far fa-clock"></i>{% include date.html date=post.date %}</div>
        
        {% if post.description %}
        <div class="card__description">
          <p>{{ post.description }}</p>
        </div>
        {% else %}
        {% endif %}
        
      </div>
    </a>
  </div>
  {% endfor %}

</div><!-- /.container -->

