---
layout: default
---

{% if page.image %}
<div class="post__hero-img">
  <img src="{{ page.image }}" alt="{{ page.title }}">
</div>
{% else %}
{% endif %}


<div class="post__title">
  <h1>{{ page.title }}</h1>
  <div class="post__information">
    <span>{% include date.html date=page.date %}</span>
    <span title="Время чтения">{% include read-time.html %}</span>
    <span>{{ page.type }}</span>
  </div>
</div>


{{ content }}

<div class="container">

  {% for post in site.posts limit:2 offset:2 %}
  <div class="post-card">
    <a href="{{ post.url }}">

      {% if post.image %}
      <img src="{{ post.image }}" alt="{{ post.title }}">
      {% else %}
      {% endif %}

      <div class="card__body">

        <h3 class="card__title">{{ post.title }}</h3>
        
        {% if post.description %}
        <div class="card__description">
          <p>{{ post.description }}</p>
        </div>
        {% else %}
        {% endif %}

        <div class="card__date">
          <i class="far fa-clock"></i>{% include date.html date=post.date %}
          {% if post.type %}
          <span class="card__type">{{ post.type }}</span>
          {% else %}
          {% endif %}
        </div>

      </div>
    </a>
  </div>
  {% endfor %}

</div><!-- /.container -->

